---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { getCollection } from "astro:content";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import { formatDate } from "../utils/preview-helper";

const allPosts = await getCollection("blog");
const posts = allPosts.sort(
	(a, b) =>
		new Date(String(b.data.pubDate)).valueOf() -
		new Date(String(a.data.pubDate)).valueOf(),
);
// let firstPage = posts.slice(0, 3);
---

<style>
	.color-contrast {
		color: white;
	}

	.color-highlight {
		color: var(--light-blue);
	}

	.intro {
		font-size: var(--h1-text-size);
	}
	
	.latest-heading {
		font-size: var(--h2-text-size);
	}
	.article-list {
		display: grid;
		grid-template-columns: fit-content(200px) 1fr;
		grid-row-gap: 9px;
		grid-column-gap: 14px;
	}
</style>

<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main class="wrapper color-contrast">
			<h2 class="intro">Hiya, I'm Shreesh Bhat (they).</h2>
			<p>
				I am a <strong class="color-highlight">Software Engineer</strong> in <strong
					class="color-highlight">Atlanta</strong
				>. I enjoy working on <strong class="color-highlight"
					>design systems</strong
				>.
			</p>
			<p>
				I care about performance, inclusive design, and compassionate coding. In
				my spare time, you will often find me designing card games, listening to
				music, board gaming with my partner, or working on
				<a href="https://github.com/shreeshbhat/strike-off" target="_blank">Strike off</a>.
			</p>
			<p>
				Find me on
				<a href="https://boardgamegeek.com/boardgamedesigner/148964/shreesh-bhat" target="_blank">BoardGameGeek</a>,
				<a href="https://github.com/shreeshbhat" target="_blank">GitHub</a>, or
				<a href="https://bsky.app/profile/shreesh.bsky.social" target="_blank">Bluesky</a>.
			</p>
			<h2 class="latest-heading color-highlight">Latest posts</h2>
			<div class="article-list">
				{posts.map((blogpost) => (
					<time class="date" datetime={blogpost.data.pubDate.toISOString()}>{formatDate(blogpost.data.pubDate.toISOString())}</time>
					<div><a href={`/blog/${blogpost.id}/`}>{blogpost.data.title}</a></div>
				))}
			<div>
		</main>
		<Footer />
	</body>
</html>

<!-- <PostPreview blog={blogpost} /> -->