---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Header from "../components/Header.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<style>
			main {
				max-width: 100%;
				margin: 0;
			}
			.prose {
				color: var(--white);
			}
			.header {
				margin-bottom: 1em;
				padding: 0;
				text-align: center;
				line-height: 1;
			}
			.header h1 {
				font-size: var(--h1-text-size);
				color: var(--light-blue);
			}
			p {
				font-size: var(--p-text-size);
			}
			.date {
				margin-bottom: 0.5em;
				color: var(--grey-blue);
			}
			.last-updated-on {
				font-style: italic;
			}
		</style>
	</head>

	<body>
		<Header />
		<main>
			<article>
				<div class="wrapper prose">
					<div class="header">
						<h1>{title}</h1>
						<div class="date">
							<FormattedDate date={pubDate} />
							{
								updatedDate && (
									<div class="last-updated-on">
										Last updated on <FormattedDate date={updatedDate} />
									</div>
								)
							}
						</div>
						<hr />
					</div>
					<slot />
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
